.minecraft/icon.png
.minecraft/optionsshaders.txt
.minecraft/patchouli_data.json
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/coremods
.minecraft/crash-reports
.minecraft/defaultconfigs
.minecraft/journeymap
.minecraft/local
.minecraft/logs
.minecraft/patchouli_books
.minecraft/resourcepacks
.minecraft/saves
.minecraft/schematics
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/teste
.minecraft/texturepacks